<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block  th:replace="~{Layout :: link-css}"></th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container mx-auto mt-10">
    <h1 class="text-2xl font-bold mb-4">Create Category</h1>
    <form th:action="@{/categories/save}" th:object="${category}" method="post" class="w-full max-w-lg">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Category Name</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Enter category name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-red-500 text-xs italic"></p>
        </div>
        <div class="mb-4">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Save</button>
        </div>
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<div th:replace="layout :: common-js"></div>
</body>
</html>